fastapi==0.115.11
uvicorn[standard]==0.34.0
pydantic==2.10.6
pydantic-settings==2.8.1
sqlalchemy==2.0.38
bcrypt==4.3.0
passlib[bcrypt]==1.7.4
python-jose[cryptography]==3.4.0
python-dotenv==1.0.1
sentence-transformers==3.4.1
faiss-cpu==1.10.0
rank-bm25==0.2.2
numpy==2.2.3
boto3==1.37.9
email-validator==2.2.0
python-multipart==0.0.20
requests==2.32.3
websockets==15.0
